/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Poppins', sans-serif; /* Fun and readable font */
    background-color: #f0f4f8; /* Soft blue background */
    color: #333; /* Darker text for better readability */
    line-height: 1.6;
    padding: 20px;
}

.header {
    background-color: #3c6856; /* Pastel green for header background */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.banner img {
    width: 350px; /* Adjust for body padding */
    height: 100px; /* Maintain aspect ratio */
    display: block; /* Remove any default spacing */
    margin: 0 auto; /* Center the image if it's not full width */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.form-container, .result {
    width: 48%; /* Maintain half-and-half layout */
    background-color: #fefbd8; /* Soft yellow for form and result containers */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="number"], select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ffdfba; /* Soft orange for buttons */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f0b27a;
}

a, button {
    background-color: #9ad3bc; /* Changed from purple to a soft teal */
    color: #fff;
    padding: 6px 10px; /* Adjusted padding for links */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: #88c9b7;
}


/* Additional styles can be added based on specific needs or sections */
