<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESA NEDC 2024 - Fertilizer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="header">
    <h1>MESA NEDC 2024 - Fertilizer Prediction</h1>
    <p>Welcome to the Smart Garden. This is a system designed to help you optimize your garden's growth with smart recommendations. Learn how to enhance your garden's fertility with our advanced prediction tools.</p>
</div>
<div class="main-content">
    <form action="{{ url_for('predict') }}" method="post">
        <!-- Display sensor values -->
        <input type="number" name="temp" placeholder="Temperature" value="{{ sensor_values[0] }}" required readonly>
        <input type="number" name="humid" placeholder="Humidity" value="{{ sensor_values[1] }}" required readonly>
        <input type="number" name="mois" placeholder="Moisture" value="{{ sensor_values[2] }}" required readonly>
        <input type="number" name="nitro" placeholder="Nitrogen" value="{{ sensor_values[3] }}" required readonly>
        <input type="number" name="pota" placeholder="Potassium" value="{{ sensor_values[4] }}" required readonly>
        <input type="number" name="phos" placeholder="Phosphorous" value="{{ sensor_values[5] }}" required readonly>

        <select name="soil" required>
            <option value="0">Black</option>
            <option value="1">Clayey</option>
            <option value="2">Loamy</option>
            <option value="3">Red</option>
            <option value="4">Sandy</option>
        </select>
        <input type="submit" value="Predict">
    </form>
    {% if recommended_fertilizer %}
    <div class="result">
        <h2>Recommended Fertilizer: {{ recommended_fertilizer }}</h2>
        <p>{{ description }}</p>
        <ul>
            {% for alternative in alternatives %}
            <li>{{ alternative }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
