<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESA NEDC 2024 - Fertilizer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="flex-container">
    <div class="container">
        <h1>MESA NEDC 2024 - Fertilizer Prediction</h1>
        <div class="welcome-section">
            <h2>Welcome to the Smart Garden</h2>
            <div class="welcome-info">
                Here's some interesting information about how to use this smart garden system effectively. Learn how to optimize your garden's growth with our smart recommendations.
            </div>
        </div>
        <form action="{{ url_for('predict')}}" method="post">
            <input type="number" name="temp" placeholder="Temperature" value="{{ temp }}" required>
            <input type="number" name="humid" placeholder="Humidity (%)" value="{{ humid }}" required>
            <input type="number" name="mois" placeholder="Moisture" value="{{ mois }}" required>
            <select name="soil" required>
                <option value="">Select Soil Type</option>
                <option value="0" {% if soil_type == "0" %}selected{% endif %}>Black</option>
                <option value="1" {% if soil_type == "1" %}selected{% endif %}>Clayey</option>
                <option value="2" {% if soil_type == "2" %}selected{% endif %}>Loamy</option>
                <option value="3" {% if soil_type == "3" %}selected{% endif %}>Red</option>
                <option value="4" {% if soil_type == "4" %}selected{% endif %}>Sandy</option>
            </select>
            <input type="number" name="nitro" placeholder="Nitrogen" value="{{ nitro }}" required>
            <input type="number" name="pota" placeholder="Potassium" value="{{ pota }}" required>
            <input type="number" name="phos" placeholder="Phosphorous" value="{{ phosp }}" required>
            <input type="submit" value="Predict">
        </form>
        {% if recommended_fertilizer %}
        <div class="result">
            <h2>Recommended Fertilizer: {{ recommended_fertilizer }}</h2>
            <p>{{ description }}</p>
            <h3>Organic Alternatives:</h3>
            <ul>
                {% for alternative in alternatives %}
                <li>{{ alternative }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="data-viewing">
        <h2>Data</h2>
        <canvas id="soilMoistureChart"></canvas> 
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
